.fst{text-align:right;vertical-align:top;font-size:14px}
.onv1{FONT-SIZE:18px;color:#ff0000}
.dsj1{color:#f50000}
.dsj3{color:#0033FF}
.dsj4{text-align:center;font-size:18px;height:30px}
.dsj7{text-align:center;font-weight:bold}
.dsj8{text-align:center;font-size:16px;color:#550000}
.dsj9{text-align:right;padding-right:3px;color:#003399}
.dsj10{width:100%;border:ridge 3px #dcdcdc;color:#000;font-size:12.4px;font-family:tahoma,arial}
.dsj13{height:35px;font-size:18px;background-color:#f1e4dc}
.dsj22{background-color:#f8f8f8;height:14px;font-size:8px}
.dsj6{text-align:center;height:30px}

